body   
{
    background-color:Gainsboro;
}

.navigation
{   
    display: inline;
    margin-left: 100px;
    color:darkgreen;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}

.navigation ul li
{
    display: inline;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkgreen;
}

.title {
    font-size: xx-large;
}

.paragraph {
    font-size: large;
}

img {
    width: 150px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.logos {
    padding-top: 5%;
    padding-bottom: 40%;
    padding-left: 5%;
    border-style: solid;
    border-color: black;
    background-color: #F8F8F8;
}

.container
{
    margin: 30px 30px 30px 30px;
    padding-top: 20px;
    padding-right: 150px;
    padding-bottom: 20px;
    padding-left: 150px;
    color:darkgreen;
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
}